// {{if .Nullable}}Null{{end}}{{.TypeName}}Field is a field that can store a {{.Type}}{{if .Nullable}}, can be nil{{end}}
type {{if .Nullable}}Null{{end}}{{.TypeName}}Field struct {
	Field
	data {{if .Nullable}}*{{end}}{{.Type}}
	changed bool
	set bool
}

// New{{if .Nullable}}Null{{end}}{{.TypeName}}Field creates a new {{if .Nullable}}Null{{end}}{{.TypeName}}Field
func New{{if .Nullable}}Null{{end}}{{.TypeName}}Field(f Field) *{{if .Nullable}}Null{{end}}{{.TypeName}}Field {
	tf := {{if .Nullable}}Null{{end}}{{.TypeName}}Field{Field: f}
	return &tf
}

func (f *{{if .Nullable}}Null{{end}}{{.TypeName}}Field) getField() Field {
	return f.Field
}

// Scan implements sql.Scanner
func (f *{{if .Nullable}}Null{{end}}{{.TypeName}}Field) Scan(src interface{}) error {
	{{- if eq .Base "Float64" }}
	nf := sql.Null{{.Base}}{}
	err := nf.Scan(src)
	if err != nil {{ if eq .Nullable false }}|| !nf.Valid {{end}} {
		return fmt.Errorf(`Unsupported scan, cannot scan %T into %T`, src, f.data)
	}

	{{- if .Nullable }}
	if !nf.Valid {
		f.setData(nil, false)
		return nil
	}
	{{- end}}

	v := {{if ne .Type "float64"}}{{.Type}}{{end}}(nf.{{.Base}})

	f.setData({{if .Nullable}}&{{end}}v, false)
	return nil
	{{- else }}
	{{- if .Nullable}}
	if src == nil {
		f.setData(nil, false)
		return nil
	}
	{{- end}}
	if v, ok := src.({{if .Base}}{{.Base}}{{else}}{{.Type}}{{end}}); ok {
		{{- if .Base}}
			data := {{.Type}}(v)
		{{- end}}
		f.setData({{if .Nullable}}&{{end}}{{if.Base}}data{{else}}v{{end}}, false)
		return nil
	}
	return fmt.Errorf(`Unsupported scan, cannot scan %T into %T`, src, f.data)
	{{- end }}
}

// Value implements driver.Valuer
func (f *{{if .Nullable}}Null{{end}}{{.TypeName}}Field) Value() (driver.Value, error) {
	return f.data, nil
}

// Get returns the data
func (f *{{if .Nullable}}Null{{end}}{{.TypeName}}Field) Get() {{if .Nullable}}*{{end}}{{.Type}} {
	return f.data
}

// Set updates the data
func (f *{{if .Nullable}}Null{{end}}{{.TypeName}}Field) Set(v {{if .Nullable}}*{{end}}{{.Type}}) {
	f.setData(v, true)
}

func (f *{{if .Nullable}}Null{{end}}{{.TypeName}}Field) setData(v {{if .Nullable}}*{{end}}{{.Type}}, changed bool) {
	f.changed = changed
	f.set = true
	f.data = v
}

// Reset sets the data to the default Go value and sets changed and set to false
func (f *{{if .Nullable}}Null{{end}}{{.TypeName}}Field) Reset() {
	reflect.ValueOf(&f.data).Elem().Set(reflect.Zero(reflect.TypeOf(f.data)))
	f.changed = false
	f.set = false
}

func (f *{{if .Nullable}}Null{{end}}{{.TypeName}}Field) hasChanged() bool {
	return f.changed
}

func (f *{{if .Nullable}}Null{{end}}{{.TypeName}}Field) isSet() bool {
	return f.set
}
